{% extends 'base.html.twig' %}

{% block title %}Edition Users{% endblock %}

{% block body %}
    <h1 class="border border-dark rounded p-2 m-2 text-white bg-primary text-center">
        Edition article
    </h1>
    {{ form_start(form) }}
    <div class="m-2 p-2">
        {{ form_widget(form) }}
    </div>
    <input type="submit" class="m-2 p-2 btn btn-primary" value="Enregistrer">
    {{ form_end(form) }}
{% endblock %}
