{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}
    <h1 class="border border-dark rounded p-2 m-2 text-white bg-primary text-center">
        Bienvenue sur le blog de l'EMSE
    </h1>

    <u>
        <h3 class="m-2 ">Ce que vous pourrez faire ici </h3>
    </u>
    <i>
        <h4 class="m-4">Ecrire des articles </h4>
    </i>
    <blockquote class="blockquote m-4">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
    <i>
        <h4 class="m-4">Consulter des articles</h4>
    </i>
    <blockquote class="blockquote m-4">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>



{% endblock %}
