{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1 class="border border-dark rounded p-2 m-2 text-white bg-primary text-center">
Voici les articles du blog
    </h1>

    {% for article in articles %}
        <div class="m-2">
            <h2><a href="{{ path('afficherArticle',{'id':article.id}) }}">{{ article.title }}</a></h2>

            <p>{{ article.content }}</p>


        </div>

    {% endfor %}
{% endblock %}
